{
  "port": 8080,
  "default_content_type": "application/json",
  "forced_content_type": null,
  "endpoints": [
    { "path": "predeploy", "event": "predeploy" },
    { "path": "postdeploy", "event": "postdeploy" }
  ]
}
